.container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.member {
  text-align: center;
}

.photo {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.backButton {
  margin-top: 20px;
}
