/* EventosGerenciamento.module.css */

/* Container principal */
.container {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Título principal */
.title {
  font-size: 32px;
  font-weight: bold;
  color: #003366; /* Azul escuro */
  margin-bottom: 20px;
}

/* CNPJ da organização */
.organizationCnpj {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
  font-weight: normal;
}

/* Mensagem quando não há eventos */
.noEventsMessage {
  font-size: 18px;
  color: #888;
  text-align: center;
  margin-top: 20px;
}

/* Cartão de evento */
.eventCard {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.eventCard:hover {
  transform: scale(1.05);
}

/* Conteúdo do cartão de evento */
.eventTitle {
  font-size: 24px;
  font-weight: bold;
  color: #003366; /* Azul escuro */
}

.eventDate {
  font-size: 16px;
  color: #444;
  margin-top: 10px;
}

.eventCnpj {
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}

/* Ações do evento (botões) */
.actions {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin-top: 20px;
}

.actionButton {
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
  text-transform: none;
}

.editButton {
  background-color: #FF6F00; /* Laranja */
  color: white;
  &:hover {
    background-color:#FF6F00; /* Laranja mais escuro */
  }
}

.deleteButton {
  background-color: #490c08;
  color: white;
  &:hover {
    background-color: #490c08;
  }
}

/* Snackbar (mensagem de erro ou sucesso) */
.MuiSnackbar-root {
  z-index: 1300;
}

.MuiAlert-root {
  font-size: 16px;
}

/* Estilo responsivo */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .title {
    font-size: 28px;
  }

  .organizationCnpj {
    font-size: 16px;
  }

  .eventTitle {
    font-size: 20px;
  }

  .eventDate {
    font-size: 14px;
  }

  .actions {
    flex-direction: column;
    gap: 8px;
  }
}
