.btn {
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.verMaisContainer {
  text-align: center;
  margin-top: 20px;
}

.carouselImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 900px) {
  .cardContainer {
    gap: 0.5rem;
  }
}

@media (max-width: 600px) {
  .btn {
    font-size: 1.25em; 
  }

  .cardContainer {
    flex-direction: column;
    align-items: center;
  }
}
