.carouselContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carouselContainer {
  padding-top: 4rem;
}

.btn {
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

@media (max-width: 170px) {
  .btn {
    font-size: 1.25em; 
  }
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.verMaisContainer {
  text-align: center;
  margin-top: 20px;
}
