.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.content6 {
  display: flex;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}
