.cardLink {
  text-decoration: none;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.image {
  overflow: hidden;
  border-radius: 8px;
}

.eventImage {
  width: 100%;
  height: auto;
}

.cardInfo {
  margin-top: 8px;
}

.eventTitle {
  margin-bottom: 8px;
}
