.footerCustom {
    background-color: #0d0013;
    color: white;
    padding: 40px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description,
  .contact,
  .helpItem {
    margin-top: 5px;
    color: lightgray;
  }
  
  .logo {
    height: 80px; /* Ajuste conforme necessário */
    margin-bottom: 10px;
  }
  
  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
  }
  
  .copyRight {
    margin-top: 20px;
    color: lightgray;
  }
  
  /* Estilos Responsivos */
  @media (max-width: 768px) {
    .footerCustom {
      padding: 20px 0;
    }
  
    .logo {
      height: 60px; /* Ajuste para telas menores */
    }
  
    .icons {
      flex-direction: row; /* Muda para linha em telas pequenas */
      flex-wrap: wrap; /* Permite quebra de linha */
      justify-content: center;
    }
  }
  