/* Navbar.module.css */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #0d0013; /* Nova cor */
  color: white;
}

.logo {
  height: 40px;
}

.iconLeft {
  color: white;
}

.rightItems {
  display: flex;
  align-items: center;
}
