.fixedTop {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #0d0013;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuContainer {
  display: flex;
  align-items: center;
}

.menuText {
  font-weight: bold;
  color: white;
  cursor: pointer;
}

@media (max-width: 600px) {
  .menuText {
    display: none;
  }
  .logo {
    width: 120px;
  }
  .hamburgerIcon {
    display: block;
  }

  .rightItems {
    display: none;
  }
}

.logoContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
  transition: width 0.3s;
}

.rightItems {
  display: flex;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.navLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #333;
  padding: 5px 8px;
}

.navLink:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .hamburgerIcon {
    font-size: 25px;
    color: white;
  }

  .rightItems {
    margin-left: auto;
  }

  .avatar {
    width: 28px;
    height: 28px;
  }
  
  .logo {
    width: 100px;
  }
}
