.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carouselContainer {
  display: flex;
  align-items: center;
}

.carouselSlide {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  position: relative;
  min-width: 100%;
}

.carouselImage {
  width: 100%;
  height: auto;
}

.indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.indicator {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: white;
}

.carouselButton {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.carouselContainer:hover .carouselButton {
  opacity: 1;
}

.carouselButton:first-of-type {
  left: 15px;
}

.carouselButton:last-of-type {
  right: 15px;
}

.carouselButton:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 600px) {
  .carouselButton {
    padding: 10px;
  }
  .indicator {
    height: 8px;
    width: 8px;
  }
}
