/* IngressoCriacao.module.css */

/* Container principal */
.container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Título */
  .title {
    text-align: center;
    color: #FF6600;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Formulário */
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Estilo dos campos de texto */
  .MuiTextField-root {
    margin-bottom: 15px;
  }
  
  /* Estilo dos botões */
  button {
    font-weight: bold;
  }
  
  /* Botão de cancelar */
  button[type="button"] {
    background-color: #f44336; /* Cor vermelha para cancelar */
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }
  
  button[type="button"]:hover {
    background-color: #d32f2f;
  }
  
  /* Botão de salvar */
  button[type="submit"] {
    background-color: #3f51b5; /* Cor azul para salvar */
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #303f9f;
  }
  
  /* FormControlLabel (Checkbox) */
  .MuiFormControlLabel-root {
    font-size: 1rem;
    color: #555;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  