.typographyBody5 {
    font-size: 0.875rem; /* Tamanho de fonte */
    line-height: 1.5; /* Altura da linha */
    color: #ffffff; /* Cor do texto */
    margin-bottom: 16px; /* Espaçamento entre parágrafos */
    font-family: 'Roboto', 'Arial', sans-serif; /* Família de fontes */
  }
  