.container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.dropdown {
  margin-bottom: 20px;
  min-width: 200px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.paginationContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
