html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

.container-flui {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  flex: 1;
  min-height: 60vh;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 3rem;
}

.light {
  background-color: #FFF;
  color: #333;
}

.dark {
  background-color: #121212;
  color: #333;
}

.dark .css-dpl1yg-MuiTypography-root {
  color: #fff;
}

.dark .css-qg6ui7-MuiTypography-root {
  color: #fff;
}

.dark .css-jq85n-MuiTypography-root {
  color: #fff;
}

.dark .css-1jk99ih-MuiInputBase-input-MuiOutlinedInput-input {
  color: #fff;
}

.light .MuiPaginationItem-root,
.dark .MuiPaginationItem-root {
  background-color: transparent; 
  color: #333;
}

.dark .MuiPaginationItem-root {
  color: #FFF; 
}

.dark .MuiPaginationItem-root.Mui-selected {
  background-color: #333; 
  color: #FFF;
}

.light .MuiPaginationItem-root.Mui-selected {
  background-color: #1976d2; 
  color: #FFF; 
}

.MuiPaginationItem-root.Mui-disabled {
  color: #ccc; 
}

.MuiPaginationItem-icon {
  color: inherit; 
}

.MuiPaginationItem-previousNext svg,
.MuiPaginationItem-icon {
  color: inherit; 
}

.navbar {
  width: 100%;
  background-color: #3f51b5;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px;
}

footer {
  margin-top: 15px;
  width: 100%;
  padding: 2rem;
  background-color: #3f51b5;
  color: white;
  text-align: center;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .navbar a {
    margin: 10px 0;
  }

  footer {
    padding: 1rem;
    margin-top: 1rem;
  }
}
